{% extends 'base.html.twig' %}

{% block title %}Coupon index{% endblock %}

{% block body %}
    <h1>Coupon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coupon in coupons %}
            <tr>
                <td>{{ coupon.id }}</td>
                <td>{{ coupon.number }}</td>
                <td>{{ coupon.state }}</td>
                <td>
                    <a href="{{ path('app_coupon_show', {'id': coupon.id}) }}">show</a>
                    <a href="{{ path('app_coupon_edit', {'id': coupon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coupon_new') }}">Create new</a>
{% endblock %}
