{% extends 'base.html.twig' %}

{% block title %}Sorteo index{% endblock %}

{% block body %}
    <h1>Sorteo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>SorteoDate</th>
                <th>CouponPrice</th>
                <th>TotalCoupons</th>
                <th>Prize</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorteo in sorteos %}
            <tr>
                <td>{{ sorteo.id }}</td>
                <td>{{ sorteo.name }}</td>
                <td>{{ sorteo.sorteoDate ? sorteo.sorteoDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorteo.couponPrice }}</td>
                <td>{{ sorteo.totalCoupons }}</td>
                <td>{{ sorteo.prize }}</td>
                <td>
                    <a href="{{ path('app_sorteo_show', {'id': sorteo.id}) }}">show</a>
                    <a href="{{ path('app_sorteo_edit', {'id': sorteo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sorteo_new') }}">Create new</a>
{% endblock %}
